/angular-security-frontend/node_modules
/angular-security-frontend/dist
/angular-security-frontend/.tmp
/angular-security-frontend/.sass-cache
/angular-security-frontend/app/bower_components
/angular-security-rest/.idea
/angular-security-rest/target
/angular-security-frontend/npm-debug.log
/angular-security-rest/.classpath
/angular-security-rest/.project
/angular-security-rest/.settings/
