/angular-security-client/node_modules
/angular-security-client/dist
/angular-security-client/.tmp
/angular-security-client/.sass-cache
/angular-security-client/app/bower_components
/angular-security-client/npm-debug.log
/angular-security-rest/.idea
/angular-security-rest/target
/angular-security-rest/.classpath
/angular-security-rest/.project
/angular-security-rest/.settings/
angular-security-rest/angular-security-rest.iml