<!DOCTYPE html>
<html ng-app="employeeManagerApp">

    <div class="row" ng-controller="LoginController">
      <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Login</h3>
              </div>
              <div class="panel-body">
                  <form ng-submit="login()" role="form">
                  <fieldset>
                      <div class="form-group">
                          <input class="form-control" placeholder="Username" type="text" ng-model="user.username">
                      </div>
                      <div class="form-group">
                          <input class="form-control" placeholder="Password" type="password" ng-model="user.password">
                      </div>
                      <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                  </fieldset>
                  </form>
              </div>
          </div>
      </div>
</html>
